    @import model.SearchData
    @import model.SearchResults
    @import play.mvc.Http.Request
    @(searchForm : Form[SearchData], tweetSearchResults: Seq[SearchResults])(implicit assetsFinder: AssetsFinder, request: Request, messages: play.i18n.Messages)
    @import helper._

    @main("Hello") {

        <header class="w3-container w3-center" style="padding:16px 16px">
            <h1 class="w3-margin w3-xxlarg">Welcome to, <span class="w3-myfont w3-jumbo">TweetLytics</span></h1>
            @* Global errors are not tied to any particular form field *@
            @if(searchForm.hasGlobalErrors) {
                @searchForm.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
                    <div>
                        @error.key: @error.message
                    </div>
                }
            }
        </header>

        <section class="w3-container w3-center" >
        @helper.form(routes.MainController.search) {
            @helper.CSRF.formField
            @helper.inputText(searchForm("searchKey"))
            <button type="submit" class="w3-blue w3-padding-large w3-large w3-round-large w3-margin-top">Search</button>
        }
        </section>

         <section class="w3-container w3-center">
             @for((tsr,gi) <- tweetSearchResults.zipWithIndex) {

                 <h3>Search Keyword: <a href="@routes.MainController.tweetWords(gi)">@tsr.getKeyword</a>@if(tsr.getOverallResult.equals(":-)")){
                     <i class="fas fa-smile-beam" style="font-size: 30px;
                         color: green;"></i>
                 }
                     @if(tsr.getOverallResult.equals(":-(")){
                         <i class="fas fa-frown" style="font-size: 30px;
                             color: green;"></i>
                     }
                     @if(tsr.getOverallResult.equals(":-|")){
                         <i class="fas fa-meh" style="font-size: 30px;
                             color: green;"></i>
                     }
                 </h3>
                 <hr/>
                 @for((tweet, index) <- tsr.getTweets.zipWithIndex) {

                     <div class="w3-card-4 w3-center w3-round-large" style="width:50%;  margin: 10px; display:inline-block; background: white;">

                         <div class="w3-row">

                             <div class="w3-center w3-col" style="width: 20%">
                                 <p class="w3-text-gray">User</p>
                                 <img src="@tweet.getUser.getUserProfileImage" alt="Avatar" class="w3-circle"><br/>
                                 <p><a href="">@tweet.getUser.getUserScreenName</a></p>
                             </div>

                             <div class="w3-center w3-col" style="width: 60%">
                                 <p class="w3-text-gray">Tweet</p>
                                 <p class="w3-left">Text: @tweet.getText</p>
                                 <p class="w3-left"> HashTags:
                                     @for((tag, index) <- tweet.getHashTags.zipWithIndex) {

                                         @if( index == ( tweet.getHashTags.size() - 1 )) {
                                             <a href="@routes.MainController.searchHashTags(tag)">@tag</a>
                                         } else {
                                             <a href="@routes.MainController.searchHashTags(tag)">@tag</a>,
                                         }
                                     }
                                 </p>
                             </div>

                             <div class="w3-center  w3-col" style="width: 20%">
                                 <p class="w3-text-gray">Sentiment</p>
                                 @{
                                     if(tweet.getTweetSentiment.get(index).contains(":-)")) {
                                             <i class="fas fa-smile-beam" style="font-size: 30px;
                                        color: green;"></i>
                                     }else if(tweet.getTweetSentiment.get(index).contains(":-(")) {
                                             <i class="fas fa-frown" style="font-size: 30px;
                                    color: green;"></i>
                                     }else {
                                             <i class="fas fa-meh" style="font-size: 30px;
                                        color: green;"></i>
                                     }
                                 }
                             </div>

                         </div>

                     </div>
                 }

             }

        </section>



    }
